extend layout.pug
block content
	div(class='contact1')
		ul
			li
				include logo.pug
			li
				div(class='warp-input1')
					a(href=link1)
						button(class = 'myButton')= option1	
			li
				div(class='warp-input1')
					a(href=link2)
						button(class = 'myButton')= option2
