extend layout.pug

block content
	h1 presence Admin login
	form(action="http:/192.168.4.1:3002/adminLogin",method="post",id="regForm")
		div(class='contact1')
			span(class="contact-form-title") Registration
			div(class="wrap-input1 validate-input",data-validate="Unesite korisnicko ime")
				input(class="input1",type="text",name="username",placeholder="Username")
			div(class="wrap-input1 validate-input",data-validate="Unesite lozinku")
				input(class="input1",type="password",name="userPass")
			div(class="wrap-input1 validate-input")
				input(class="input1",type="submit")
		
    



