extend layout.pug

block content
	div(class='contact1')
		ul
			li
				include logo.pug
			li
				div(class='warp-input1')
					textarea(rows="4",cols="50",class="myButton")= text1
				div(class='warp-input1')
					a(href=link1)
						button(class='myButton')=option1